.modal.modal-fixed-footer .modal-footer{
    z-index: 2;
}

.ng-cloak {
    display: none !important;
}

.modal-header{
    position: absolute;
    right: 1rem;
    z-index: 2;
}

#wpfooter{
    position: initial;
}

a:hover{
    color: #ffffff;
}

#header {
    text-align:  center;
}

#gg-page-creator-panel{
    margin-right: 1rem;
}

#gg-menu {
    display:  flex;
    justify-content:  space-evenly;
    background-color:  #ffffff;
    border-bottom: solid 0.1rem #9ca1a6;
}

#gg-panel-tabs{
    margin-bottom: 0;
}

#gg-page-creator-main {
    border: solid 0.1rem #9ca1a6;
    background-color: #ffffff;
}


#gg-page-creator-content {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.tabs .tab a {
    font-weight: 600;
    color: rgba(49, 49, 49, 0.7);
}

.tabs .tab a:hover{
    color: rgba(49, 49, 49, 0.9);
    background-color: rgba(216, 177, 95, 0.2);
}

.tabs .tab a.active, .tabs .tab a.active:focus {
    background-color: #d8b15f;
    color: #313131;
}


.tabs .tab a:hover {
    background-color: rgba(216, 177, 95, 0.2);
    box-shadow: none;
}


.tabs .tab a:focus {
    box-shadow:  none;
}


.golden-button {
    display:  block;
    padding: 0.3rem 1rem;
    text-align:  center;
    width: max-content;
    margin-bottom:  1rem;
    border: solid 0.2rem #d9b25f;
    background-color:  #d9b25f;
    transition:  all 0.3s;
    cursor:  pointer;
    font-weight: bold;
    font-size: 2rem;
}

.options-menu .option-button {
    width:  100%;
}

.golden-button:hover {
    background-color:  transparent;
}

#current-page {
    text-align:  center;
    border-bottom: solid 0.1rem #9ca1a6;
    margin-bottom: 2rem;
}

.collapsible.popout>.rb-bullet-draggable{
    /*border: solid 0.1rem #d9b25f!important;*/
    -webkit-box-shadow: 0 2px 5px 0 rgba(206, 168, 90, 0.16), 0 2px 10px 0 rgba(206, 168, 90, 0.17);
    box-shadow: inset 0 2px 5px 0 rgba(206, 168, 90, 0.16), 0 2px 10px 0 rgba(206, 168, 90, 0.17);
    margin-bottom: 0.3rem;
}

/*.collapsible.popout>.rb-bullet-draggable.active {
    -webkit-box-shadow: 0 5px 11px 0 rgba(217, 178, 95, 0.18), 0 4px 15px 0 rgba(217, 178, 95, 0.15);
    box-shadow: 0 5px 11px 0 rgba(217, 178, 95, 0.18), 0 4px 15px 0 rgba(217, 178, 95, 0.15);
}*/

.collapsible-header{
    margin-bottom: 0;
    transition: all 0.3s;
    position: relative;
}

.button-header{
    display: block;
    border: none;
    text-align: center;
}

.button-controls{
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 1rem;
}

.button-controls i{
    margin-right: 0;
}

/* label underline focus color */
.input-field input[type=text]:focus, .input-field textarea:focus  {
  border-bottom: 1px solid #d9b25f!important;
  box-shadow: 0 1px 0 0 #d9b25f!important;
}

/* label focus color */
.input-field input[type=text]:focus + label, textarea.materialize-textarea:focus:not([readonly])+label{
  color: #d9b25f!important;
}

.invalid-input > .input-field > input, .invalid-input > .input-field input[type=text]:focus, .invalid-input > .input-field textarea:focus {
    color: #d85f5f!important;
    border-color: #d85f5f!important;
    box-shadow: 0 1px 0 0 #d85f5f!important;
}

.invalid-input > .input-field label, .invalid-input > .input-field input[type=text]:focus + label, .invalid-input > textarea.materialize-textarea:focus:not([readonly])+label {
    color: #d85f5f!important;
}

.form-label{
    font-size: 1rem;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #313131;
}

.button-controls > i + i{
    margin-left: 2rem;
}

textarea.materialize-textarea {
    height: 5rem;
    overflow: auto;
}

.gg-golden-background{
    background-color: #d8b15f;
    color: #313131;
}

.gg-red-background{
    background-color: #d85f5f;
    color: #ffffff;
}

.gg-green-background{
    background-color: #5fd865;
    color: #313131;
}

.gg-cyan-background {
    background-color: #5fc3d8;
    color: #313131;
}

.gg-cyan-background:hover {
    background-color: #00d3ff;
    color: #000000;
}

.btn.gg-golden-background, .btn.gg-red-background, .btn.gg-green-background{
    font-weight: bold;
    color: #313131;
}

.btn.gg-red-background:hover{
    background-color: #ff0000;
    color: #000000;
}

.btn.gg-green-background:hover{
    background-color: #00ff0d;
    color: #000000;
}

.btn.gg-golden-background:hover{
    background-color: #d8b15f;
    color: #313131;
}

.btn{
    display: inline-flex;
}

.btn > i {
    font-size: 2rem;
}

.dropdown-content li {
    margin-bottom: 0;
    border-bottom: solid 1px #313131;
}

.no-margin{
    margin: 0!important;
}

.full-size-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.modal-close-container{
    width: 100%;
    text-align: right;
}

.close-modal-button{
    cursor: pointer;
    transition: all 0.4s;
    font-size: 3rem;
    font-weight: bold;
}

.close-modal-button:hover{
    color: red;
}

.not-visible-page .collapsible-header {
    background-color: #9ca1a6;
    border-color: #9ca1a6;
}

.special-page .collapsible-header {
    background-image: url(../assets/img/glass.png);
}

.button-header-full-controls .button-name{
    padding: 1rem;
}

.button-header-full-controls .button-controls {
    position: relative;
    bottom: -1px;
    height: calc(100% + 1px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    transition: all 0.5s;
}

.button-header-full-controls .button-controls i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0.3rem;
    transition: all 0.3s;
    color: #313131;
    border-radius: 0;
    webkit-box-shadow: none;
    box-shadow: none;
}

.button-header-full-controls .button-controls i:hover {
    color: #000;
}

.button-header-full-controls .button-controls > i + i{
    margin-left: 0;
}

.product-image, .button-image {
   height: 7rem;
   background-position:  center;
   background-size: contain;
   background-repeat:  no-repeat;
}


.wp-gallery-trigger {
    position:  relative;
}

.wp-gallery-current-image {
    display:  block;
    height: 10rem;
    /* background-position:  center; */
    /* background-size:  cover; */
    /* border: solid 0.1rem #313131; */
    border-bottom: 0;
    position:  relative;
    text-align: center;
}

.wp-gallery-current-image > img {
    max-height: 100%;
}

.wp-gallery-open-button {
    width:  100%;
    display:  flex;
    align-items:  center;
    justify-content:  center;
    font-size: 1rem;
}

i.hover-tilt:before {
    transition:  all 0.3s;
}

i.hover-tilt:hover:before {
    transform: rotate(15deg);
}


.angucomplete-image {
    /* max-width: 20%; */
    max-height: 10rem;
    display:  inline-block;
}

.angucomplete-description {
    font-size: 1rem;
    display:  inline-block;
}

.angucomplete-row {
    display:  flex;
    align-items:  center;
    justify-content:  center;
    cursor: pointer;
}

.angucomplete-row:hover{
    background-color: rgba(216, 177, 95, 0.55);
}

.angucomplete-dropdown {
    border: solid 0.1rem grey;
    border-top: 0;
    z-index:  234234234234234;
    position:  relative;
    max-height: 16rem;
    overflow:  auto;
    position:  absolute;
    background-color: #fafafae8;
    width: 100%;
}

.angucomplete-title {
    display:  inline-block;
}

.angucomplete-image-holder {
    display:  inline-block;
    /* float:  left; */
}

.product-to-add {
    height: 5rem;
    overflow:  hidden;
    /* display:  inline-block; */
    position:  relative;
    padding: 0 1rem;
    list-style:  none;
    border-bottom: solid 1px grey;
    padding: 0.5rem 0;
    display:  flex;
    align-items:  center;
}

.product-to-add > img {
    max-height: 100%;
}

.remove-prod-placeholder {
    position:  absolute;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    bottom: 0.3rem;
    right:  0;
    display:  flex;
    align-items:  center;
    justify-content:  center;
    color: #ffffff;
}

.product-to-add .product-name {
    margin-left: 1rem;
    font-size: 1rem;
}

.not-visible-page .button-image, .not-visible-page .product-image {
    filter: grayscale(100%);
}

.add-new-button {
    text-align:  center;
    font-size: 5rem;
}

.add-new-button > i:hover {
    color: #2ed22a;
}

.add-new-button > i {
    cursor:  pointer;
    transition:  all 0.3s;
}

@media (min-width: 550px){
    .button-header{
        display: flex;
        align-items: center;
        text-align: initial;
    }

    .button-controls{
        margin-top: 0;
        display: block;
    }

    .button-controls > i + i{
        margin-left: 0;
    }

    .button-header-full-controls .button-controls {
        position: absolute;
        top: 0;
        right: 0;
        height: calc(100%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#lists-controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sort-lists-button{
    font-size: 2rem;
}

.sorting-enabled .buttons-list-item:hover {
  animation: pulse 1s infinite;
}

.sorting-enabled .buttons-list-item .button-header:hover{
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 5s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
	animation: Gradient 5s ease infinite;*/
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgb(44, 183, 204);
    border-radius: 50%;
  }
  50% {
      -webkit-box-shadow: 0 0 0 4px rgba(0, 247, 255, 0.6);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0px rgb(44, 183, 204);
      border-radius: 0;
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgb(44, 183, 204);
    box-shadow: 0 0 0 0 rgb(44, 183, 204);
    border-radius: 50%;
  }
  50% {
      -moz-box-shadow: 0 0 0 4px rgba(0, 247, 255, 0.6);
      box-shadow: 0 0 0 4px rgba(0, 247, 255, 0.6);
  }
  100% {
      -moz-box-shadow: 0 0 0 0px rgb(44, 183, 204);
      box-shadow: 0 0 0 0px rgb(44, 183, 204);
  }
}

.product-quick-info{
    display: flex;
    align-items: center;
}

.sorting-enabled .button-header-full-controls .button-controls {
    width: 0;
    overflow: hidden;
}

.sorting-enabled .button-header-full-controls .button-name {
}

.sorting-enabled .product-quick-info {
    width: 100%;
    justify-content:  center;
    text-align:  center;
}

#gg-page-creator-content{
    transition: all 0.5s;
}

#gg-page-creator-content.sorting-enabled {
	/*background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;*/
	margin-top: 0;
	width: 100%;
	padding: 1rem;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.sorting-enabled .buttons-list-item:not(.ui-sortable-placeholder):after {
    opacity: 1;
}

.sorting-enabled .buttons-list-item{
    user-select: none;
}

#buttons-holder {
    counter-reset: list;
}

.buttons-list-item {
    position:  relative;
}

.buttons-list-item:not(.ui-sortable-placeholder):after {
	font-size: 3rem;
	content: counter(list, decimal);
	counter-increment: list;
	position: absolute;
	top: -0.6rem;
	left: 0.2rem;
	opacity: 0;
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	33% {
		background-position: 100% 50%
	}
	66% {
		background-position: 50% 80%
	}
    100% {
		background-position: 0% 30%
	}
}

@keyframes Gradient {
    0% {
		background-position: 0% 50%
	}
	33% {
		background-position: 100% 50%
	}
	66% {
		background-position: 50% 80%
	}
    100% {
		background-position: 0% 50%
	}
}

#sortable-effect-background {
    height:  100%;
    width:  100%;
    display:  block;
    position: absolute;
    opacity:  0;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 2s ease infinite;
    -moz-animation: Gradient 2s ease infinite;
    animation: Gradient 2s ease infinite;
    transition: all 0.5s;
}

#gg-ng-view {
    position:  relative;
    overflow:  auto;
}

#sortable-effect-background.sorting-enabled {
    opacity: 0.1;
}

/* ========================================================================== */
/* Loading */
/* ========================================================================== */
.loading-animation .loading-done {
    color: #8ed85f;
    font-weight: bold;
}

.loading-animation{
	position:  fixed;
	width:  100%;
	height:  100%;
	display:  flex;
	align-items:  center;
	justify-content:  center;
	top: 0;
	left:  0;
	z-index: 3;
	background-color: white;
}

.loading-data {
    margin-bottom: 1rem;
    font-size: 1rem;
    height: 1.4rem;
    position: relative;
    bottom: 0;
    overflow: hidden;
    transition: all 0.4s;
}

.loading-data.complete{
    height: 0;
}

.loading-error .general-loading {
    font-weight:  bold;
    color: #d93f3f;
}

.loading-animation .loading-background-overlay {
    background-color: #ffffff;
    height:  100%;
    width:  100%;
    position:  absolute;
    top: 0;
    left:  0;
    transition:  all 0.4s;
    opacity: 0;
}

.loading-animation .loading-error {
    z-index: 2;
}

.loading-animation.error-ocurred .loading-background-overlay {
    opacity:  1;
}

.loading-animation .loading-error .loading-button{
    display: block;
}

/* ngIf animation */
.ng-if-fade.ng-enter,
.ng-if-fade.ng-leave {
  -webkit-transition: opacity ease-in-out 2s;
  -moz-transition: opacity ease-in-out 2s;
  -ms-transition: opacity ease-in-out 2s;
  -o-transition: opacity ease-in-out 2s;
  transition: opacity ease-in-out 2s;
}
.ng-if-fade.ng-enter,
.ng-if-fade.ng-leave.ng-leave-active {
  opacity: 0;
}
.ng-if-fade.ng-leave,
.ng-if-fade.ng-enter.ng-enter-active {
  opacity: 1;
}

/* ngIf animation */
.ng-if-height-5{
    overflow: hidden;
    position: relative;
    bottom: 0;
    max-height: 5rem;
    transition: all ease-in-out 2s;
}
.ng-if-height-5.ng-enter,
.ng-if-height-5.ng-leave {
  transition: all ease-in-out 2s;
}
.ng-if-height-5.ng-enter,
.ng-if-height-5.ng-leave.ng-leave-active {
  max-height: 0;
}
.ng-if-height-5.ng-leave,
.ng-if-height-5.ng-enter.ng-enter-active {
  max-height: 2rem;
}

.multicolor-background{
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
    animation: Gradient 5s ease infinite;
}
/* ========================================================================== */
/* PRODUCTS MANAGMENT */
/* ========================================================================== */
.product-item {
    height: 6rem;
    display:  flex;
    align-items:  center;
    position:  relative;
    border-bottom: solid 1px grey;
    font-size: 1rem;
    margin-bottom: 0;
    transition: all 0.3s;
}

.product-item-image > img {max-height: 100%;}

.product-item-image {
    height: 100%;
}

.product-item-image {
    text-align:  center;
    justify-content:  center;
}

.product-item-controls {
    display:  flex;
    align-items:  center;
    justify-content:  center;
    flex-wrap:  wrap;
    height: 100%;
    padding: 0 0.2rem;
}

.product-item-controls > i {
    display:  flex;
    align-items:  center;
    justify-content:  center;
    /* margin-top: 0.3rem; */
    position:  relative;
    /* top: -0.2rem; */
    width: 48%;
}

#products-list-titles {
    text-align:  center;
    display:  flex;
}

.product-item > div {
    display:  flex;
    align-items:  center;
    overflow: auto;
    height: 100%;
}

.product-item > div:nth-child(even) {
    background-color: #d8b15f5e;
}

.product-item-id{
    justify-content: center;
}

.product-item.disabled-product {
    background-color: #9ca1a6;
}

#navigation-bar {
    padding: 0 1rem;
}

#products-list-titles > div {
    overflow: auto;
}

.navigation-button-holder{
    text-align: center;
}

.pagination-numbers .current-page-numb {
    font-weight: bold;
    font-size: 3rem;
    color: #d8b15f;
}

.pagination-number{
    cursor: pointer;
}

.pagination-numbers .pagination-number:hover {
    color: #d8b15f;
}

.pagination-numbers .close-page-numb-1 {
    /* font-weight: 400; */
    /* font-size: 2.3rem; */
}

.pagination-numbers .close-page-numb-2 {
    /* font-weight: 400; */
    /* font-size: 1.7rem; */
}

.pagination-numbers {
    user-select: none;
    display:  flex;
    align-items: center;
    justify-content:  center;
}

.pagination-numbers .last-page-numb-holder.ng-scope {
    padding-left: 0.5rem;
}

.pagination-numbers .first-page-numb-holder {
    padding-right: 0.5rem;
}

#products-list-filters {
    padding: 0 1rem;
}

.parent-product-list {
    display:  flex;
    align-items: flex-start;
    margin: 0 auto;
    width: min-content;
    cursor: pointer;
}

.parent-product-list-item img {
    max-height: 100%;
    max-width: 100%;
}

.parent-product-list-item {
    height: 10rem;
    width: 10rem;
    overflow:  auto;
    position: relative;
}

.parent-product-list-item.selected{
    position: relative;
    background: linear-gradient(-45deg, #EE7752, #d8b15f, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
    animation: Gradient 5s ease infinite;
}

.parent-product-image-container {
    height: 5rem;
    text-align:  center;
}

.parent-products-list-container {
    overflow:  auto;
}

.parent-product-name{
    font-size: 1rem;
}

@media (min-width: 550px){
    #navigation-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}





/* ========================================================================== */
/* DEJAR??? */
/* ========================================================================== *//*
#gg-page-creator-content {
    background-color: #ffffff;
    min-height:  50vh;
    margin-top: 2rem;
}

#gg-menu > span {
    flex-grow: 1;
    text-align:  center;
    padding: 0.5rem;
    box-sizing:  border-box;
    font-weight:  bold;
    text-transform:  uppercase;
    transition:  all 0.4s;
    cursor:  pointer;
}

#gg-menu > span + span {
    border-left: solid 0.1rem #9ca1a6;
}

#gg-menu > span:hover, #gg-menu > span.active-item {
    background-color: #fdb12a;
    color: #303030;
}

#gg-content-title {
    text-align:  center;
}

.product-item {
    list-style:  none;
    position: relative;
    background: #ffffff;
    color: #fdb12a;
    font-weight: 600;
    text-align: center;
    border: solid 0.1rem #fdb12a;
    cursor: move !important;
    padding: 0.6rem;
    overflow: hidden;
    min-height: 2rem;
    white-space: nowrap;
    transition: all 0.3s;
}

.product-item .item-name {
    display: inline-block;
    width: 80%;
    box-sizing: border-box;
    text-transform:  uppercase;
}

.product-item .edit-product, .product-item .delete-product {
	width: 10%;
	cursor: pointer;
	transition: transform 0.4s;
	font-size: 1.79rem;
	position: relative;
	font-weight:  bold;
}

.product-item:hover {
    color: #ffffff;
    border-color: #fdb12a;
    overflow: visible;
    background-color: #fdb12a;
}

.product-item .delete-product:hover {
	animation: colorChange 1.5s infinite;
}

.product-item .edit-product:hover {
	animation: colorChange2 1.5s infinite;
}


@keyframes colorChange {
  0% {
    color: #ffffff;
  }
  50% {
    color: #fd2a2a;
  }
  100% {
    color: #ffffff;
  }
}

@keyframes colorChange2 {
  0% {
    color: #ffffff;
  }
  50% {
    color: #35fd2a;
  }
  100% {
    color: #ffffff;
  }
}

.add-new-button {
    text-align:  center;
    font-size: 5rem;
}

.add-new-button > i:hover {
    color: #2ed22a;
}

.add-new-button > i {
    cursor:  pointer;
    transition:  all 0.3s;
}

.products-list {
    margin-bottom: 2rem;
}*/
